$scrollbar_bg: #2e3338;
$scrollbar_thumb: #1f2225;

$color_green: #00fecb;
$color_orange: #ffa23e;
$color_red: #fc6565;
$text_color: #ffffffcb;
$text_color_w: #ffffff;
$text_color_o: #ffffff00;

$modal_background: rgba(0, 0, 0, 0.4);
$background_color: #1c1e21;
$bg_color_1: #1d2026;
$bg_color_2: #13161c;
$bg_color_3: #1f2225;
$bg_color_4: #24282f;
$bg_color_5: #2a2c31;
$bg_color_6: #313338;
$bg_color_7: #272b2f;
$bg_color_8: #25252c;
$bg_color_9: #26282c;
$bg_color_10: #1b1d20;
$bg_color_11: #303040;
$bg_color_12: #1f2229;
$bg_color_13: #3f444f;

$invert: invert(100%);

$w_menu: 290px;

$border_solid: solid 1px #555; 